<!DOCTYPE html>
<html>

<head>
<title>PriCoSha</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body style="background-color:white">
<div class="jumbotron" style = "background-color:blue;">
  <font color = "white">
<center>
  <h1>PriCoSha</h1> 
  <p>Your private content sharing site.</p> 
</center>  
  </font>
</div>
<div class = "container">
{% if not message %}
	<a href="/login" class="btn btn-primary btn-lg btn-block" role="button">Login</a>
	<a href="/register" class="btn btn-primary btn-lg btn-block" role="button">Register</a>
{% endif %}

{% if message %}
	<a href="/logout">Logout</a>
	<a href="/remove_account">Remove Account</a>
	<p class="message">You are logged in {{message}}. You have {{num}} follower(s)</p> </br>
	<a href="/tweets">View your tweets</a> </br>
	<a href="/find_people">Find people to follow</a> </br>
	<a href="/unfollow">Unfollow someone</a> </br>
	<a href="/view_followed">View people you have followed</a> </br>
	</br>

        <h4>15 most recent tweets from you and your followers </h4> </br>

	{% for line in tweets%}
	        <p>{{line}}</p>
	        <hr>
	{% endfor %}
	{% endif %}
</div> 
</body>

</html>
